#map {
		height: 400px;
		width:800px;
}

.leaflet-draw-toolbar a.leaflet-draw-draw-marker:nth-child(2) {
    background-image: url('leaf-green.png');
    background-size: 26px;
    background-position: center;
}
.leaflet-draw-toolbar a.leaflet-draw-draw-marker:first-child {
    background-image: url('leaf-red.png');
    background-size: 26px;
    background-position: center;
}
/* 
[class^=leaflet-draw-draw-] {
    float: left;
} */